.projects.navLink {
    font-weight: 700;
}

.projects.navLink ::after{
    content: '';
    width: 90%;
    height: 1px;
    background: #F8F9FA;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    border-radius: 50px;
    transition: 0.15s;
}

.about.navLink a, .contact.navLink a{
    color: #ADB5BD;
}

.menu ul li.projects {
    font-weight: 900;
    position: relative;
}

.menu ul li.projects::after {
    content: '';
    position: absolute;
    background: #F8F9FA;
    width: 80%;
    height: 0.1875rem;
    bottom: 0.375rem;
    left: 50%;
    border-radius: 2rem;
    transform: translate(-50%);
}

/* Projects Section */ 

h1 {
    font-size: 4rem;
}

#projects {
    padding-top: 5rem;
}

h4 {
    margin-top: 2rem ;
}

.project {
    background: #41474e10;
    padding: 1rem 1.6rem;
    border-radius: 1.8rem;
    border: 1px solid #f8f9fa22;
    color: #f8f9fa;
}

.big.container {
    margin-top: 2rem;
}

.project {
    margin-top: 1rem;
    display: block;
    position: relative;
    background: #41474e10;
    padding: 1rem 1.6rem;
    border-radius: 1.8rem;
    border: 1px solid #f8f9fa22;
    color: #f8f9fa;
    transition: background 0.2s, border-color 0.2s, transform 0.15s;
    cursor: pointer;
}

.project:hover {
    background: #41474e69;
    border-color: #ffffff44;
    transform: translateY(-3px);
}

.project:active {
    transform: translateY(0);
    background: #41474edc;
}

p {
    font-size: 1rem;
}

h3 {
    line-height: 1.8rem;
}

p.description {
    margin-top: 1rem;
}

.more_info {
    margin-top: 1rem;
}

@media screen and (max-width: 550px) {

    h1 {
        font-size: 2.9rem;
    }
}